a {
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Cabin', sans-serif;
}

body div.scroll-container {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100%;
    position: relative;
    color: #FFF;
    background-image: url('../img/header-background.svg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header h1 {
    position: relative;
    margin: 0;
    padding: 28vh 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 8vw;
    text-align: center;
    margin-bottom: 1.5vh;
    text-shadow: 0 0 20px #333;
}

    header h1 span {
        position: absolute;
        top: 26.5vh;
        right: 14.3vw;
        font-size: 1.6vw;
        font-style: italic;
        padding: 8px;
        background-color: #A13213;
        border-radius: 0.6vw;
    }

header span.subheading {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5vw;
    text-align: center;
    text-shadow: 0 0 20px #333;
}

header ul.buttons {
    margin: 5vh 0 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

    header ul.buttons li {
        display: inline-block;
        margin-left: 10px;
    }

    header ul.buttons li a {
        font-family: 'Raleway', sans-serif;
        padding: 10px;
        font-size: 2vw;
        color: #FFF;
        background-color: #365566;
        text-decoration: none;
        border-radius: 0.6vw;
    }

    header ul.buttons li a:hover {
        background-color: #1D2B33;
    }

header div.love {
    position: absolute;
    left: 25px;
    bottom: 25px;
    font-size: 1.6vw;
    color: #FFF;
}

    header div.love img {
        height: 0.85em;
        margin-left: 4px;
    }

header div.sales {
    position: absolute;
    right: 35px;
    bottom: 25px;
    font-size: 1.6vw;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
    height: 45px;
    line-height: 45px;
    color: #FFF;
    background-color: rgba(29, 43, 51, 0.9);
}

nav a {
    color: #FFF;
}

nav a:hover {
    color: #999;
}

nav .left {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

nav .left a {
    font-size: 18pt;
    font-weight: bold;
    text-decoration: none;
}

nav .right {
    text-align: right;
}

nav .right ul {
    margin: 0;
    padding: 0;
    line-height: 45px;
    list-style-type: none;
}

nav .right ul li {
    display: inline-block;
    margin-left: 10px;
}

nav .right ul li a {
    text-decoration: none;
}

nav .right ul li a:hover {
    text-decoration: underline;
}

main {
    margin-top: 60px;
}

main .contents .contents-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
}

main .contents ul.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    main .contents ul.menu li {
        display: block;
    }

    main .contents ul.menu li a {
        display: block;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        padding: 10px;
        border-bottom: 1px solid #000;
        text-decoration: none;
        color: #000;
    }

    main .contents ul.menu li a:hover {
        color: #FFF;
        background: #1D2B33;
    }

    main .contents ul.menu li a:active {
        background: #F60;
    }

    main .contents ul.showoff {
        margin: 25px 0 0 0;
        padding: 0;
    }

        main .contents ul.showoff li {
            display: block;
            list-style-type: none;
            padding: 8px;
            margin: 10px 0 0 0;
            background: #000;
            color: #FFF;
            border-radius: 0.6vw;
            font-style: italic;
            text-align: center;
        }

    main h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 28pt;
        margin: 0px 0 5px 0;
        padding: 15px;
        color: #FFF;
        background-color: #1D2B33;
        text-shadow: 0 0 20px #333;
        text-align: center;
        background-image: url('../img/subheader-background.svg');
        background-size: cover;
        border-radius: 8px;
    }

    main p {
        font-size: 14pt;
        line-height: 24pt;
        margin: 10px 5px 0 5px;
    }

    main a.section-anchor {
        display: block;
        position: relative;
        top: -60px;
        visibility: hidden;
    }

    main div.section {
        height: calc(100vh - 60px);
        margin-bottom: 60px;
        position: relative;
    }

    main div.section.last {
        margin-bottom: 0;
    }

footer {
    height: 150px;
    margin-top: 60px;
    padding-left: 25px;
    background-image: url('../img/footer-background.svg'), linear-gradient(rgba(210, 138, 87, 0), rgba(189, 158, 135, 0.6));
    background-size: auto;
    background-position: bottom right;
    background-repeat: no-repeat;
}

footer div {
    padding-top: 35px;
}

footer span.title {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    line-height: 22pt;
}

footer span.copyright {
    display: block;
    font-size: 12pt;
    font-weight: bold;
    line-height: 18pt;
}

footer span.trademarks {
    display: block;
    font-size: 12pt;
    line-height: 18pt;
}

/* Authors */

div.authors-container {
    margin: 25px 0 0 0;
}

div.author {
    padding: 25px;
    background: #AFBBC2;
    border-radius: 8px;
    min-height: 250px;
    text-align: center;
}

div.author img {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: blue;
}

div.author span.name {
    display: block;
    padding: 15px 0 15px 0;
    font-size: 24pt;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}