a {
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Cabin', sans-serif;
}

header {
    width: 100%;
    height: 100%;
    position: relative;
    color: #FFF;
    background-image: url('../img/backgrounds/header.svg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header h1 {
    position: relative;
    margin: 0;
    padding: 28vh 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 8vw;
    text-align: center;
    margin-bottom: 1.5vh;
    text-shadow: 0 0 20px #333;
}

    header h1 span {
        position: absolute;
        top: 26.5vh;
        right: 14.3vw;
        font-size: 1.6vw;
        font-style: italic;
        padding: 8px;
        background-color: #A13213;
    }

header span.subheading {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5vw;
    text-align: center;
    text-shadow: 0 0 20px #333;
}

header ul.buttons {
    margin: 5vh 0 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

    header ul.buttons li {
        display: inline-block;
        margin-left: 10px;
    }

    header ul.buttons li a {
        font-family: 'Raleway', sans-serif;
        padding: 10px;
        font-size: 2vw;
        color: #FFF;
        background-color: #365566;
        text-decoration: none;
    }

    header ul.buttons li a:hover {
        background-color: #1D2B33;
    }

header div.love {
    position: absolute;
    left: 25px;
    bottom: 25px;
    font-size: 1.6vw;
    color: #FFF;
}

    header div.love img {
        height: 0.85em;
        margin-left: 4px;
    }

header div.sales {
    position: absolute;
    right: 35px;
    bottom: 25px;
    font-size: 1.6vw;
}

.flex-container.main {
    margin: 0;
}

nav {
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex: 0.28;
    color: #FFF;
    background-color: #000;
    background-image: url('../img/backgrounds/navbar.svg');
    background-position: top;
    background-size: cover;
}

nav span, nav ul {
    display: block;
    margin: 20px 20px 0 20px;
}

nav span.header {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 4.3vw;
    text-shadow: 0 0 20px #333;
}

    nav span.header a {
        color: #FFF;
        text-decoration: none;
    }

    nav span.header a:hover {
        color: #EBEEF0;
    }

nav span.subheading {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5vw;
    line-height: 2vw;
    text-shadow: 0 0 20px #333;
}

nav ul.links {
    padding: 0;
    list-style-type: none;
}

    nav ul.links li {
        display: block;
        margin-bottom: 3px;
    }

    nav ul.links li a {
        display: block;
        padding: 10px 8px 10px 8px;
        color: #FFF;
        font-family: 'Raleway', sans-serif;
        font-size: 12pt;
        font-weight: bold;
        text-decoration: none;
        background-color:  rgba(54, 85, 102, 0.45);
        border-bottom: 1px solid #000;
        border-color: #111A1F;
    }

    nav ul.links li a.buy {
        font-size: 16pt;
        background-color: rgba(102, 68, 54, 0.45);
    }

    nav ul.links li a.buy:hover {
        background-color: #342528;
    }

    nav ul.links li a:hover {
        background-color: #1D2B33;
    }

    nav div.nav-footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

        nav div.nav-footer div.landscape {
            min-height: 120px;
            background-image: url('../img/backgrounds/navbar-landscape.svg');
            background-repeat: no-repeat;
            background-position: right 10px;
        }

        nav div.nav-footer div.text {
            background-color: #160F0B;
            padding: 20px 20px 20px 20px;
        }

            nav div.nav-footer div.text span {
                margin: 0;
            }

/* Copyright span elements (for both rose footer and navbar footer) */

span.copyright-us {
    font-size: 15pt;
    font-weight: bold;
    min-height: 20pt;
    font-family: 'Raleway', sans-serif;
}

span.copyright-other {
    font-size: 12pt;
    font-style: italic;
}

    span.copyright-other a {
        color: #FFF;
        text-decoration: none;
    }

    span.copyright-other a:hover {
        text-decoration: underline;
    }

/* Main content */

main {
    flex: 0.72;
}

    main section {
        min-height: 100vh;
    }

    main h2 {
        margin: 100px 50px 50px 50px;
        font-family: 'Raleway', sans-serif;
        font-size: 3.5vw;
        padding: 7.05vw 30px 30px 30px;
        color: #FFF;
        background-color: #000;
        background-size: cover;
        background-image: url('../img/backgrounds/h2.svg');
    }

    main p {
        margin: 0 50px 20px 50px;
        font-size: 15pt;
        line-height: 22pt;
    }

    main p a {
        color: #000;
    }

    main p a:hover {
        color: #365566;
    }

    main section ul.grid {
        margin: 0 50px 20px 50px;
        padding: 0;
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        list-style-type: none;
    }
    
    main section ul.grid.three {
        grid-template-columns: auto auto auto;
    }

    main section ul.grid.two {
        grid-template-columns: auto auto;
    }

        main section ul.grid li {
            background-color: #2E3A45;
            min-height: 300px;
        }

        main section ul.grid.red li {
            background-color: #442E45;
        }

        main section ul.grid li img {
            width: 75px;
            height: 75px;
            margin: 20px 0 0 20px;
        }

        main section ul.grid li h3 {
            margin: 20px 20px 20px 20px;
            padding: 0;
            font-family: 'Raleway', sans-serif;
            font-size: 1.5vw;
            font-weight: bold;
            color: #FFF;
        }

        main section ul.grid li span {
            display: inline-block;
            margin: 0 20px 20px 20px;
            font-size: 14pt;
            line-height: 20pt;
            color: #FFF;
        }

        main section ul.grid li span a {
            color: #FFF;
        }

        main section ul.grid li span a:hover {
            color: #D5D8DA;
        }

        main section ul.grid li a.full {
            display: block;
            color: #FFF;
            height: 100% !important;
            width: 100%;
            text-decoration: none;
        }
        
        main section ul.grid li a:hover.full {
            background-color: rgba(255, 255, 255, 0.3);
        }
    
    main div.rose-footer {
        margin: 0 50px 0 50px;
        position: relative;
        height: 100px;
        background-image: url('../img/rose.svg');
        background-repeat: no-repeat;
        background-position: right bottom;
    }

        main div.rose-footer span {
            display: none;
        }

        main div.rose-footer span.copyright-other a {
            color: #000;
        }

        main div.rose-footer span.copyright-us {
            position: absolute;
            bottom: 28px;
        }

        main div.rose-footer span.copyright-other {
            position: absolute;
            bottom: 10px;
        }

/* Technologies grid custom stylings */

ul.technologies li.django {
    grid-column: 2 / span 2;
    background-color: #092E20;
}

ul.technologies li.python {
    background-color: #2B5B84;
}

ul.technologies li.client {
    background-color: #563D7C;
}

ul.technologies li.html {
    background-color: #E44D26;
}

ul.technologies li.git {
    background-color: #413932;
}

ul.technologies li.client {
    grid-column: 3;
    grid-row: 2 / span 2;
}

ul.technologies li.git {
    grid-column: 1 / span 2;
}

ul.technologies li.deploying {
    background-color: #139FD7;
    grid-column: 2 / span 2;
}

/* Editions custom stylings */

main section ul.grid.editions li {
    position: relative;
    height: 250px;
    min-height: auto;
}

main section ul.grid.editions li span {
    display: block;
    margin: 0;
}

main section ul.grid.editions li span.twd-title {
    padding: 20px 0 0 20px;
    font-size: 1.25vw;
    font-style: italic;
}

main section ul.grid.editions li span.release {
    padding: 5px 20px 0 20px;
    font-size: 3vw;
    line-height: 3.5vw;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

main section ul.grid.editions li span.also {
    padding: 5px 0 0 20px;
    font-size: 1.25vw;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
}

main section ul.grid.editions li span.date {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.5vw;
}

main section ul.grid.editions li span.price {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.5vw;
}


main section ul.grid.editions li.edition-1 {
    background-image: url('../img/backgrounds/editions.svg#edition-1');
    background-position: right bottom;
    background-size: cover;
    background-color: #EDD6BA;
}

main section ul.grid.editions li.edition-1 a span {
    color: #000;
}

main section ul.grid.editions li.edition-2 a span {
    color: #000;
}

main section ul.grid.editions li.edition-3 a span {
    color: #000;
}

main section ul.grid.editions li.edition-2 {
    background-image: url('../img/backgrounds/editions.svg#edition-2');
    background-position: right bottom;
    background-size: cover;
    background-color: #A0582C;
}

main section ul.grid.editions li.edition-3 {
    background-image: url('../img/backgrounds/editions.svg#edition-3');
    background-position: right bottom;
    background-size: cover;
    background-color: #3593D1;
}

main section ul.grid.editions li.edition-4 {
    background-image: url('../img/backgrounds/editions.svg#edition-4');
    background-position: right bottom;
    background-size: cover;
    background-color: #32374F;
}

/* Authors custom styles */

ul.authors li {
    position: relative;
    display: grid;
    grid-template-columns: 72% 28%;
}

    ul.authors li.david {
        background-image: url('../img/authors/david-background.jpg');
        background-size: cover;
    }

    ul.authors li.david div.image-desktop {
        background-image: url('../img/authors/david-desktop.png');
        background-repeat: no-repeat;
        background-position: left bottom;
    }

    ul.authors li img.mobile-img {
        display: none;
    }
    
    ul.authors li div.text span.name {
        margin-top: 20px;
        line-height: normal;
        font-family: 'Raleway', sans-serif;
        font-size: 2.65vw;
    }

    ul.authors li div.text span.blurb {
        font-size: 14pt;
        padding-bottom: 50px;
    }

    ul.authors li div.text ul.links {
        position: absolute;
        left: 20px;
        bottom: 25px;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        ul.authors li div.text ul.links li {
            display: inline-block;
            background-color: transparent;
            background-image: none;
            min-height: auto;
            margin-right: 2px;
        }

        ul.authors li div.text ul.links li a {
            padding: 8px 8px 8px calc(13px + 12pt);
            font-size: 12pt;
            text-decoration: none;
            color: #FFF;
            background-color: rgba(255, 255, 255, 0.1);
            background-size: 12pt 12pt;
            background-repeat: no-repeat;
            background-position: 8px 50%;
        }

        ul.authors li div.text ul.links li a.website {
            background-image: url('../img/icons.svg#earth');
        }

        ul.authors li div.text ul.links li a.email {
            background-image: url('../img/icons.svg#email');
        }

        ul.authors li div.text ul.links li a.twitter {
            background-image: url('../img/icons.svg#twitter');
        }

        ul.authors li div.text ul.links li a.git {
            background-image: url('../img/icons.svg#github');
        }

        ul.authors li div.text ul.links li a:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

/* Contact custom styles */

ul.contact {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: 2 !important;
}

ul.contact li {
    min-height: 0 !important;
}

ul.contact li.twitter {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    background-image: url('../img/backgrounds/contact-twd.svg'), linear-gradient(-120deg, #1B2A3B, #675759);
    background-position: left bottom;
    background-repeat: no-repeat;
}

/**********************/
/* Responsive styling */
/**********************/

@media(max-height: 865px) { /* Styles for the navbar footer messages -- hide the navbar landscapes below a certain height */
    nav div.nav-footer div.landscape {
        display: none;
    }

    nav div.nav-footer div.text {
        color: #160F0B;
        background-color: transparent;
        padding: 20px 20px 20px 20px;
    }

    nav div.nav-footer div.text span.copyright-other a {
        color: #160F0B;
    }
}

@media(max-height: 730px) { /* Styles for the navbar/rose footer messages -- move to the rose when below a certain height */
    nav div.nav-footer {
        display: none;
    }

    main div.rose-footer span {
        display: block;
    }
}

@media(max-width: 1520px) { /* Navbar footer text -- scale font at smaller screen widths */
    nav div.nav-footer div.text span.copyright-us, nav div.nav-footer div.text span.copyright-other {
        font-size: 12pt;
    }
}

@media(max-width: 1250px) { /* Styles for resizing of various components of the boxes in the main content */
    main section ul.grid li h3 { /* Fix header font size to 14pt for smaller screens */
        font-size: 22pt;
    }
}

@media(max-width: 1140px) { /* Change the layout of the blocks from grid to block -- on top of each other. */
    main section ul.grid {
        display: block;
    }

        main section ul.grid li {
            margin-bottom: 20px;
            min-height: 0; /* Remove min-height from blocks, but we need it for authors, so add it in below. */
        }

        main section ul.grid li:last-child {
            margin-bottom: 0;
        }

    ul.contact li.twitter {
        background-image: linear-gradient(-120deg, #1B2A3B, #675759);
    }

    main h2 {
        margin-top: 100px;
    }

        main h2#intro { /* Remove the margin from the introductory header */
            margin-top: 0;
        }
    
    main section ul.grid.editions li span.twd-title {
        font-size: 16pt;
    }
    
    main section ul.grid.editions li span.release {
        font-size: 28pt;
        line-height: 38pt;
    }

    main section ul.grid.editions li span.also {
        font-size: 14pt;
    }

    main section ul.grid.editions li span.date {
        font-size: 14pt;
    }

    main section ul.grid.editions li span.price {
        font-size: 14pt;
    }
}

@media(max-width: 1370px) and (min-width: 1140px) {
    main section ul.grid.editions li span.date {
        display: none;
    }

    main section ul.grid.editions li span.price {
        left: 20px;
        right: auto;
    }
}

@media(max-width: 1140px) { /* Restyle each author block to use the small mobile image, rather than the background image. */
    ul.authors li {
        display: block;
        text-align: center;
        background-image: none !important;
    }

    ul.authors div.image-desktop {
        display: none;
    }

    ul.authors li img.mobile-img {
        display: inline-block;
        margin: 20px 0 0 0;
        width: 35%;
        height: 35%;
        border-radius: 50%;
    }

    ul.authors li div.text span.name {
        font-size: 22pt;
    }

    ul.authors li div.text span.blurb {
        padding-bottom: 0;
    }

    ul.authors li div.text ul.links {
        position: static;
        margin: 0 20px 0 20px;
        padding: 0 0 15px 0;
        list-style-type: none;
    }

    ul.authors li div.text ul.links li {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    ul.authors li div.text ul.links li a {
        display: block;
        font-size: 14pt;
    }
}

@media(max-width: 1320px) { /* Adjust the desktop author image position slightly so that the face still fits! */
    ul.authors li {
        grid-template-columns: 68% 32%;
    }
}

@media(max-width: 1220px) { /* Adjust the desktop author image position slightly so that the face still fits! */
    ul.authors li {
        grid-template-columns: 65% 35%;
    }
}